html {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    overflow: hidden;
    min-height: 120vh;
}

#logo {
    height: 30px;
    width: 120px;
}

#logo img {
    height: 100%;
}

#logo-bar {
    display: flex;
    margin: 20px 0px;
    position: relative;
    justify-content: center;
}

#logo-bar .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    height: 100%;
    right: 30px;
}

#logo-bar .search div button {
    font-size: 150%;
    margin: 0px 10px;
}

#main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 5px 5px 5px rgba(206, 206, 206, 0.377);
}

#main-menu .menu-bar .menu-item {
    margin: 5px;
}

#main-menu .menu-bar li a {
    padding: 10px 5px;
    display: block;
    font-size: 100%;
    border-bottom: 2px solid white;
}

#main-menu .menu-bar li li a {
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid whitesmoke;
    width: 100%;
    min-width: max-content;
    display: block;
}

.active {
    border-bottom: 1px solid black !important;
}

#main-menu .menu-bar li a:hover {
    color: cyan;
    border-bottom: 1px solid black;
}

#main-menu .drop-down-content {
    width: fit-content;
    background: white;
    padding: 0px 15px;
}

#main-menu .menu-item svg {
    transition: all .5s;
    margin: 0px 5px;
    font-size: 13px;
}

#main-menu li:hover>a svg {
    transform: rotate(180deg) !important;
}

#main-menu .slide-content {
    width: 150px;
    background: white;
}

#main-menu .slide-content span {
    display: block;
}

#main-menu .menu-bar li span.active {
    border-bottom: 2px solid black;
}

.product {
    position: relative;
    overflow: hidden;
}

.product .name:hover {
    color: cyan;
    transition: all .3s;
}

.product img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 3s;
}

.product .img {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.product img:hover {
    transform: scale(1.2);
}

.product div:not(:is(.img)) {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 50px;
}

.product .sale {
    position: absolute;
    color: red;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: white;
}

.product div span {
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.product div a {
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: white;
    color: black;
    width: fit-content;
    transition: all 0.5;
    border: 1px solid white;
}

.product div a:hover {
    background: none;
    color: white;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.search {
    z-index: 3;
}

.search div button:last-child:hover span {
    color: aqua;
}

.search div button:last-child {
    position: relative;
}

.search div button:last-child span {
    position: absolute;
    color: black;
    bottom: 5px;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
}

.title {
    transition: all .3s;
    cursor: default;
}

.title:hover {
    color: rgb(36, 252, 252);
}

.slider img {
    width: 100%;
}

#cartbox .c-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cartbox .c-product div img {
    width: 100%;
}

#cartbox .c-product div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#cartbox .c-product .name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 10px;
    width: 100%;
}

#cartbox .c-product .name .size {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    opacity: .6;
}

#cartbox .c-product .name h3 {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

#cartbox .c-product .name .amount {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

#cartbox .c-product .count {
    padding: 5px 15px;
    border: 1px solid black;
    width: fit-content;
}

#cartbox .c-product .price {
    margin: 0px 20px;
}

#cartbox .c-product div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartbox .c-product div:last-child button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#cartbox .ctn {
    border-bottom: 2px solid black;
    width: 100%;
    height: fit-content;
}

#cartbox>div.container {
    min-width: 30vw;
    width: 100%;
}

.right-nav>.container {
    padding: 20px;
}

.right-nav {
    width: 0px;
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: white;
}

.right-nav .controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5%;
}

.right-nav .controller button {
    outline: none;
    border: none;
    background: none;
    font-size: 35px;
    cursor: pointer;
}

.coverlay {
    background-color: black;
    opacity: .6;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
}

#trending .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 30px;
    padding: 15px;
}

footer .registry form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    padding: 15px;
}

footer .registry form input {
    outline: none;
    border: 1px solid rgb(218, 218, 218);
    background: white;
    padding: 15px;
    width: calc(100% - 85px);
}

footer .infomation {
    display: grid;
    grid-template-columns: auto 15% 30% 20%;
    grid-gap: 20px;
    width: 100%;
    padding: 10px;
}

footer img {
    width: 100%;
}

footer .infomation .info {
    display: flex;
    flex-direction: column;
}

footer .infomation .info img {
    width: 35%;
}

.search-input {
    background-color: whitesmoke;
    padding: 0px 10px;
    display: flex;
}

.search-input * {
    border: none;
    background-color: whitesmoke;
    outline: none;
}

.search-input input {
    height: 100%;
    width: 100%;
    line-height: 100%;
    padding: 15px 5px;
    font-size: 100%;
}

.search-input button {
    padding: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #trending .container {
        grid-template-columns: auto auto auto;
    }
    footer .infomation {
        grid-template-columns: auto auto;
    }
    .grid-3 {
        grid-template-columns: auto !important;
    }
    .menu-bar {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
    }
    .menu-bar a {
        text-align: center;
    }
}

#cartbox .c-product.temp {
    display: none;
}

#trending .product {
    height: fit-content;
}

.temp {
    display: none;
}

.search svg {
    fill: #252a2b;
    width: 24px;
    height: 24px;
}

.search button:last-child {
    overflow: hidden;
}

#cartbox .bill {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.pay {
    background: #338dbc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color: white;
    padding: 20px 0px;
    cursor: pointer;
    font-size: 110%;
    -webkit-user-drag: none;
    user-select: none;
}

a.pay:hover {
    color: #338dbc;
    background-color: white;
    border: 1px solid;
}

.input-email {
    width: 50%;
}

.input-email button {
    display: flex;
    outline: none;
    border: 1px solid #338db3;
    padding: 15px;
    cursor: pointer;
    color: white;
    background-color: #338db3;
}

.input-email button:hover {
    background-color: white;
    color: #338db3;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.active {}