html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    overflow: hidden;
}

#logo {
    height: 30px;
    width: 120px;
}

#logo img {
    height: 100%;
}

#logo-bar {
    display: grid;
    grid-template-columns: auto 120px auto;
    margin: 20px 0px;
}

#logo-bar .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logo-bar .search div {
    margin-right: 10%;
}

#logo-bar .search div button {
    font-size: 150%;
    margin: 0px 10px;
}

#main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#main-menu .menu-bar .menu-item {
    margin: 5px;
    padding: 10px 5px;
}

#main-menu .menu-bar li span {
    padding: 10px 5px;
}

#main-menu .menu-bar li li span {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    width: 100%;
    display: block;
}

#main-menu .menu-bar li span:hover {
    color: rgb(122, 122, 245);
    border-bottom: 2px solid black;
}

#main-menu .drop-down-content {
    width: 150px;
    background: white;
}

#main-menu .menu-item svg {
    transition: all .5s;
    margin: 0px 5px;
    font-size: 13px;
}

#main-menu .menu-item:hover svg {
    transform: rotate(180deg);
    ;
}

#main-menu .slide-content {
    width: 150px;
    background: white;
}

#main-menu .slide-content span {
    display: block;
}

#main-menu .menu-bar li span.active {
    border-bottom: 2px solid black;
}

.slider .product {
    position: relative;
}

.product img {
    cursor: pointer;
}

.slider .product div {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    background-color: black;
    opacity: 0.7;
}

.product .sale {
    position: absolute;
    color: red;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: white;
}

.slider .product div span {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

.slider .product div a {
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 10px;
    background-color: white;
    color: black;
    width: fit-content;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes up {
    from {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

.search div:hover button:last-child span {
    color: #b7b7ff;
    animation: up 0.5s;
}

.search div button:last-child {
    position: relative;
}

.search div button:last-child span {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
}

.title {
    transition: all .3s;
}

.title:hover {
    color: rgb(36, 252, 252);
}

.slider img {
    width: 100%;
}