@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}


/*Color*/

.aqua {
    color: aqua;
}

.red {
    color: #EF233C;
}

.black {
    color: black;
}

.space-cadet {
    color: #2B2D42;
}

.white {
    color: white;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

.bg-white {
    background-color: #ffffff;
}

.bg-whitesomke {
    background-color: whitesmoke;
}

.bg-red-fresh {
    background-color: #EF233C;
}

.bg-brick {
    background-color: #9d0208;
}

.bg-aqua {
    background-color: aqua;
}

.bg-water {
    background-color: #3a86ff;
}

.bg-honey {
    background-color: #f48c06;
}

.bg-neon {
    background-color: #6930c3;
}

.bg-orange {
    background-color: #e76f51;
}


/*Font*/

.regular {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.justify {
    text-align: justify;
}

.opacity {
    opacity: 0.6;
}


/*Display*/

.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-spbt {
    justify-content: space-between;
}

.jc-spev {
    justify-content: space-evenly;
}

.ai-center {
    align-items: center;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.max-width {
    width: 100%;
}

.padding {
    padding: 10px;
}

.padding-sm {
    padding: 5px;
}

.padding-smm {
    padding: 3px;
}

.mg-top {
    margin-top: 10px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.small-block {
    width: 20%;
}

.small-medium-block {
    width: 35%;
}

.large-block {
    width: 75%;
}

.mg-left {
    margin-left: 15px;
}

.mg-right {
    margin-right: 15px;
}

.block {
    display: block;
}

.relative {
    position: relative;
}


/*Border*/

.bdr-sm {
    border-radius: 5%;
}

.bdr-circle {
    border-radius: 100%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle span {
    position: absolute;
    border-radius: 100%;
}

.bd-solid {
    border: 1px solid;
}

.box-shd {
    box-shadow: 2px 2px 2px #505050;
}

.no-bd-btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}


/* Scroll bar */

.scroll-hidden {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-hidden::-webkit-scrollbar-thumb {
    background: none;
}

.scroll-hidden::-webkit-scrollbar {
    width: 10px;
}

.scroll-hidden:hover::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    border-radius: 10px;
}


/* Menu */

.menu-bar {
    display: flex;
    list-style: none;
}

.menu-bar li {
    cursor: pointer;
}

.drop-down-menu {
    position: relative;
}

.drop-down-content {
    display: none;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
}

.slide-menu {
    position: relative;
}

.slide-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    transform: translateX(100%);
}

.slide-menu:hover .slide-content {
    display: block;
}

.slider {
    margin: 10px auto;
}

#dm-sanpham .slick-slide {}

#dm-sale .slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}

.slider .slick-prev:before,
.slider .slick-next:before {
    color: black;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    padding: 20px;
    background-color: white;
}

.slider .slick-next {
    right: 50px;
    z-index: 1;
}

.slider .slick-prev {
    left: 20px;
    z-index: 1;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}